@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap|Exo:100;200;300;400;500;600;700;800;900');

/*------------------------------------------------------------Colours */

.bg-color-heading {
    background-color: #fff;
}

/*------------------------------------------------------------Heading */

.home-page {
    margin: 20px;
    padding: 10px;
    max-height: 100px;
    width: 40%;
    display: inline-block;
    
}

.heading-name {
    font-family: "Exo", sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #000;
    height: auto;
    width: 100%;
    padding-left: 20px;    
    padding-bottom: 10px;
    text-decoration: none;
}

.heading-title {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #000;
    height: auto;
    width: 100%;
    padding-left: 20px;
    text-decoration: none;
}

.list-inline {
    height: 100px;
    width: 100%;  
}

.list-inline-item {
    color: #000;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    margin-top: 5px;
}

#nav li {
    font-size: 14px;
    padding: 10px;
    width: 20%;
    color: #000;
}

.profile-image {
    background: url("../images/ify.jpg");
    background-position: center;
    background-repeat: no repeat;
    background-size: cover
    min-height: 360px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}