@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap|Exo:100;200;300;400;500;600;700;800;900');

/*------------------------------------------------------------Colours */

.bg-color-heading {
    background-color: #fff;
}

/*------------------------------------------------------------Heading */

.home-page {
    margin: 20px;
    padding: 10px;
    max-height: 120px;
    width: 100%;
    display: inline-block;
    
}

.heading-name {
    font-family: "Exo", sans-serif;
    font-size: 28px;
    font-weight: 300;
    height: auto;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
}

.heading-title {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 100;
    height: auto;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
}