@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar2-width: 240px;
    --font-base: "Bai Jamjuree";
}    

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}


/*--------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: var(--color-base), url("../images/person-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 16px;
    padding: 0;
    width: 20%;

}


/*---------Navbar */

.navbar {
    background: var(--color-base);
    min-height: 100vh;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.bg-img {
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link.active {
    color: var(--color-brand);
}
.navbar .nav-link:hover {
    color: var(--color-brand);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8));
        background-size: cover;
        background-position: center;
        display: contents;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }


}
    
@media (min-width: 576px) {
    
}

/*---------------------------------------Home */

.home {
    margin: 0px 30px 20px 20px;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/*-----------------------------------Button*/

.btn {
    margin-left: 0px;
    margin-right: 0px;
    padding: 12px 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
    margin-right: inherit;
    justify-content: center;
    align-items: center;
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-base2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

/*----------------------------Contact */

#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}

/*----------------------------Social Icons */

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-base);
    border-radius: 50px;
    font-size: 24px;
}

/*------------------------Portfolio-------Cards */

#portfolio .text-brand {
    top: 20px;
}

.card-custom {
    width: 300px;
    height: 400px;
}

.card-custom .card-custom-img {
    overflow: hidden;
}

.card-custom .card-custom-img img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-img img {
    transform: scale(1.1);
}

/*-------------------------------Skills */

.text-brand {
    top: 0;
    bottom: 4px;
    
}

.progress {
    position: relative;
    height: 60px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2xp 10xp;
    color: var(--color-base2);
    background-color: rgba(255, 255, 255, 0.2);
}    